export(BK2002)
export(BinnedNP)
export(Eval)
export(KernSmooth)
export(MALC)
export(Plot)
export(Plot_Kernel)
export(dmalc)
export(mean_malc)
export(pmalc)
export(qmalc)
importFrom(graphics,lines)
importFrom(graphics,plot)
S3method(plot,MALC)
