export(BK2002)
export(BinnedNP)
export(DensOLog)
export(Eval)
export(KernSmooth)
export(Plot)
export(Plot_Kernel)
export(ddensolog)
export(mean_densolog)
export(pdensolog)
export(qdensolog)
importFrom(graphics,lines)
importFrom(graphics,plot)
S3method(plot,DensOLog)
